aaransia==1.1
absl-py==0.7.0
apt-clone==0.2.1
apt-xapian-index==0.47
arabic-reshaper==2.0.15
asciinema==0.9.8
astor==0.7.1
attrs==18.2.0
awscli==1.11.13
beautifulsoup4==4.7.1
bleach==3.1.5
blinker==1.3
botocore==1.4.70
Brlapi==0.6.4
bs4==0.0.1
cached-property==1.5.1
caniuse==0.3.1
certifi==2020.4.5.1
chardet==3.0.4
Click==7.0
colorama==0.3.7
command-not-found==0.3
commonmark==0.8.1
cryptography==1.2.3
csvkit==0.9.1
cycler==0.9.0
defer==1.0.6
dictdiffer==0.7.2
dirspec==13.10
dnspython==1.16.0
docutils==0.16
flake8==2.5.4
future==0.17.1
gast==0.2.2
grpcio==1.19.0
h5py==2.9.0
httplib2==0.9.1
idna==2.9
idx2numpy==1.2.2
importlib-metadata==1.7.0
jdcal==1.0
Jinja2==2.10
jmespath==0.9.0
joblib==0.14.1
jsondiff==1.2.0
kazam==1.4.5
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
kooora==0.1
language-selector==0.1
lightdm-gtk-greeter-settings==1.2.1
logilab-common==1.1.0
louis==2.6.4
lxml==4.5.1
Mako==1.0.3
Markdown==3.0.1
MarkupSafe==0.23
matplotlib==1.5.1
mccabe==0.2.1
meson==0.53.2
mock==2.0.0
more-itertools==8.4.0
nltk==3.5
notion==0.0.19
numpy==1.16.2
oauthlib==3.1.0
onboard==1.2.0
oneconf==0.3.9
opencv-python==4.2.0.34
openpyxl==2.3.0
packaging==20.4
pandas==0.24.2
pathlib2==2.3.5
pbr==5.1.3
pdf2image==1.13.1
pep8==1.7.0
pexpect==4.0.1
Pillow==3.1.2
piston-mini-client==0.7.5
pkginfo==1.5.0.1
pluggy==0.13.1
prompt-toolkit==2.0.10
protobuf==3.7.0
psutil==3.4.2
ptyprocess==0.5
py==1.9.0
PyArabic==0.6.7
pycrypto==2.6.1
pycups==1.9.73
pycurl==7.43.0
pyflakes==1.1.0
Pygments==2.6.1
pygobject==3.20.0
PyICU==1.9.2
PyJWT==1.3.0
pymongo==3.10.1
pyparsing==2.0.3
PyPDF2==1.26.0
Pyphen==0.9.5
PySocks==1.7.1
pytesseract==0.3.4
pytest==5.4.3
python-apt==1.1.0b1+ubuntu0.16.4.9
python-bidi==0.4.2
python-dateutil==2.8.1
python-debian==0.1.27
python-slugify==2.0.1
python-xapp==1.0.0
pytz==2014.10
pyxdg==0.25
readme-renderer==26.0
regex==2020.4.4
reportlab==3.3.0
repoze.lru==0.7
requests==2.23.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
roman==2.0.0
rsa==3.2.3
s3transfer==0.1.9
selenium==3.141.0
Selenium-Screenshot==1.7.0
sessioninstaller==0.0.0
setproctitle==1.1.8
six==1.10.0
soupsieve==1.8
SQLAlchemy==1.0.11
system-service==0.3
tensorboard==1.13.0
tensorflow==1.13.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
textstat==0.5.7
thin-client-config-agent==0.8
tqdm==4.45.0
tweepy==3.8.0
twine==1.15.0
twitter==1.18.0
tzlocal==1.5.1
ubuntu-drivers-common==0.0.0
ufw==0.35
Unidecode==1.0.23
urllib3==1.25.9
usb-creator==0.3.0
utensor-cgen==0.3.1
vboxapi==1.0
virtkey==0.63.0
virtualenv==15.0.1
wcwidth==0.1.9
webencodings==0.5.1
Werkzeug==0.14.1
xkit==0.0.0
xlrd==0.9.4
zipp==1.2.0
